<% if resource.errors.any? %>
  <div id="error_explanation">
    <h3><i class="fas fa-exclamation-triangle"></i>入力に不備があります。</h3>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
