<% if error.errors.any? %>
      <div id="error_explanation">
        <h3><i class="fas fa-exclamation-triangle"></i><%= error.errors.count %>件のエラーがあります。</h3>
        <ul>
          <% error.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
<% end %>