
</div>
<div class="about-cake-image">
  <p class="about-text"><br><br>
    ながのCakeは全国発送可能なケーキ屋さんです。<br><br>
	  お子様からお年寄りの方までお召し上がりいただけるよう、<br><br>
	  様々なバリエーションをご用意しております。<br><br>
		また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br><br>
		ぜひご注文ください。<br><br>
		</p>

</div><br><br>

<div class="col-xs-1">
	</div>
<div class="col-xs-10">

  <div class="cakeya">
  <%= image_tag 'ケーキ屋.jpg', size: '380x300'%>
  </div>
  <br>
  <p>Nagano Cake<br><br>
    店長：長野 景気<br><br>
  	住所：長野県○○市○○町３丁目5-17<br><br>
  	電話番号：1234-56-7890<br><br>
  	LINEに友達追加で最新入荷情報をお届けします！<br>
  	ID：nagano-cake<br><br>
  	インスタ、Twitter、YouTubeも続々配信中！<br>
  	ページ右下のアイコンをクリックしてね！
  </p>

<br>
</div>
<br><br>

