</div>
	<div class="top">
		<div class="cake-image">
		</div>
		<br><br>
		<div class="container">
 			<div class="row">
 				<div class=col-xs-3>
 				</div>
 				<div class=col-xs-6>
					<p class="home-text">ようこそ、NaganoCakeへ！<br><br>
					このサイトは、ケーキ販売のECサイトになります。<br><br>
					会員でない方も商品の閲覧はできますが、<br><br>
					購入には会員登録が必要になります。</p>
				</div>
				<div class=col-xs-3>
				</div>
			</div>

			<div class="row">
 				<div class=col-xs-2>
 				</div>
 				<div class=col-xs-8>
 				<br>
                <h3>オススメ商品</h3>
                <%= link_to "もっとみる", products_path,style: "float: right" %>
                </div>
 				<div class=col-xs-2>
 				</div>
		    </div>

			<div class="row">
 				<div class=col-xs-2>
 				</div>
 				<div class=col-xs-8>
 				<br>
                <h3>ジャンル検索</h3>
                </div>
 				<div class=col-xs-2>
 				</div>
		    </div>
       </div>