
<!-- 退会確認メッセージ -->
<div class="hide-text">
<p><b><i class="fas fa-exclamation-triangle"></i>本当に退会しますか？</b></p><br>

<p>退会すると、会員登録情報や</p>
<p>これまでの購入履歴が閲覧できなくなります。</p>
<p>退会する場合は、「退会する」をクリックしてください。</p><br>


<div>
<!-- 配送先一覧画面へのリンク部分 -->
	<%= link_to customers_path do %>
		<button class="btn btn-primary">退会しない</button>
	<% end %>

<!-- 退会処理へのリンク部分 -->
	<%= link_to withdrawal_customers_path, method: :put do %>
		<button class="btn btn-danger">退会する</button>
	<% end %>
</div>
</div>