<!-- バリデーション チェック -->
<%= render 'admin/error', error: @genre %>

<h3 class="admin-title">ジャンル編集</h3>
<!-- 入力フォーム部分テンプレート化 -->
<%= render 'newform', genre: @genre, admin_genres_path: admin_genre_path %>
