<!-- バリデーション チェック -->
<%= render 'admin/error', error: @product %>

<h3 class="admin-title">商品編集</h3><br>
<!-- 入力フォーム部分テンプレート化 -->
<%= render 'newform', product: @product, admin_products_path: admin_product_path %>